img {
    max-width: 100%;
    height: auto;
}

.general button,
.general input,
.general optgroup,
.general select,
.general textarea {
    margin: 0;
    padding: 0;
}

.general h1,
.general h2,
.general h3,
.general h4,
.general h5,
.general h6,
.general hr,
.general p {
    margin: 0;
}

.general {

    [type="text"],
    input:where(:not([type])),
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple] {
        appearance: none;
        background-color: transparent;
        border-color: unset;
        border-width: 0;
        border-radius: unset;
        padding: unset;
        font-size: unset;
        line-height: unset;
        color: inherit;
    }

    input:focus-visible,
    [multiple]:focus-visible,
    textarea:focus-visible,
    select:focus-visible {
        outline: none;
        box-shadow: none;
    }
}